@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply scroll-smooth;
}

/* selection style  */
::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #ffb400;
}

::selection {
  color: white;
  background: #ffb400;
}

.max-w {
  @apply mx-auto max-w-[1800px];
}

.w-padding {
  @apply px-4 md:px-6 lg:px-12;
}

.animation {
  @apply ease-in-out duration-700 transition-all;
}

.custom-clippath {
  clip-path: polygon(0 0, 40% 0, 100% 100%, 0% 100%);
}

.input {
  @apply border border-primary-dark dark:border-primary-dark dark:border tracking-wider dark:border-opacity-30  border-opacity-50 text-opacity-60 dark:bg-opacity-30 dark:opacity-70 text-primary-dark bg-transparent  dark:text-primary-light font-medium font-OpenSans dark:bg-primary-dark  overflow-hidden flex items-center px-5 py-3 text-sm  focus:border-primary-yellow animation outline-none w-full;
}

.background-dark {
  @apply dark:bg-dark-background;
}

::-webkit-scrollbar {
  @apply bg-[#4e4e4b];
  display: flex;
  justify-content: center;
  width: 7.5px;
  height: 5px;
  border-radius: 0px 0px 0px 0px;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary-yellow opacity-75;
  opacity: 0.6;
  width: 5px;
  height: 2px;
  border-radius: 16px 16px 16px 16px;
}

.text-head::before {
  content: attr(data-name);
  transition: width 2s linear;
  @apply text-primary-yellow inset-0 overflow-hidden w-0 absolute;
}

.text-head:hover::before {
  @apply w-full;
}
